.container{
  background-color: lightsteelblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.container h1 {
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    /* color: #fff; */
    /* font-family: "Berkshire Swash", cursive; */
    font-weight: 800;
}

.container form input, .container select {
  font-family: inherit;
  font-size: inherit;
}

.container form{
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer {
  width: 30vw;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px black solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blanchedalmond;
  box-shadow: 6px 6px 12px black;
}
